@use "/src/shared/styles/" as *;

.header {
    color: $black01;
    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.title {
    font-weight: 600;
}

.stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}