$white: #FFFFFF;
$naviBlue: #142270;
$redish: #FFE2E0;
$bb: #08090A;

$grey100: #F7FAFC;
$grey200: #EDF2F7;
$grey300: #E2E8F0;
$grey400: #CBD5E0;
$grey500: #A0AEC0;
$grey600: #718096;
$grey700: #4A5568;
$grey800: #2D3748;
$grey900: #1A202C;

$turquoise01: #40B5F0;
$turquoise02: #53BCF2;
$turquoise03: #66C4F3;
$turquoise04: #79CBF5;
$turquoise05: #8CD3F6;
$turquoise06: #A0DAF8;
$turquoise07: #B3E1F9;
$turquoise08: #C6E9FB;
$turquoise09: #D9F0FC;
$turquoise10: #ECF8FE;

$blue01: #2144C0;
$blue02: #3757C6;
$blue03: #4D69CD;
$blue04: #647CD3;
$blue05: #7A8FD9;
$blue06: #90A2E0;
$blue07: #A6B4E6;
$blue08: #BCC7EC;
$blue09: #D3DAF2;
$blue10: #E9ECF9;

$black01: #030303;
$black02: #1C1C1C;
$black03: #353535;
$black04: #4F4F4F;
$black05: #686868;
$black06: #818181;
$black07: #9A9A9A;
$black08: #B3B3B3;
$black09: #CDCDCD;
$black10: #E6E6E6;
